@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', 'Arial', sans-serif;
    background-color: #b068e9;
    background-image: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: #787887;
    height: auto;
    font-size: .75rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: auto;
    width: 1000px;
    border-radius: 20px;
}

.main_img {
    width: 450px;
    user-select: none;
    left: 0;
}

.box {
    padding: 70px;
}

.title {
    font-size: 32px;
    color: #1E1F36;
    font-weight: 600;
    margin-bottom: 30px;
}

.accordion_items {
    margin-right: 30px;
}

.accordion_item {
    padding-block: 15px;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion_header:hover .accordion_question {
    color: #F47B56;
}

.accordion_question {
    display: inline;
    height: 20px;
    color: #787887;
    font-weight: 500;
    user-select: none;
}

.btn {
    background: transparent;
    border: none;
    margin-bottom: 20px;
    user-select: none;
}

hr {
    border: .1px solid rgba(128, 128, 128, 0.177);
}

.active .accordion_question {
    font-weight: bold;
    color: black;
}

.active .accordion_answer {
    display: block;
}

.active .btn {
    transform: rotate(180deg);
}

.accordion_answer {
    display: none;
}